:root{
    --cor-de-fundo: #FFF4BF;
    --cor-principal: #DC95FF;
    --cor-secundaria: #8C56D4;
    --cor-destaque: #8C56D4;
    --cor-texto: #8C56D4;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}