:root{
    --cor-de-fundo: #FFEBB8;
    --cor-principal: #FFEBB8;
    --cor-secundaria: #BD5579;
    --cor-destaque: #F7D6D0;
    --cor-texto: #8C56D4;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: backgroud-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}